.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-camera-container {
    animation: App-container-opacity 20ms linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin-bottom: 20px;
}

.App-camera {
  margin-bottom: 20px;
}

.App-camera-container {
  width: auto;
  height: auto;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

.App-screenshot {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-container-opacity {
  from {
    opacity: 0;
  }
  to {
    transform: 1;
  }
}
